@use '../../styles/globals/' as *;
@use '../../styles/utils/' as *;

#logo {
  flex: 1;
  font-weight: bold;
  display: flex;
  align-items: center;

  & a {
    color: $white;
    font-size: rem(16);

    @include breakpoint(medium) {
      font-size: rem(18);
    }

    @include breakpoint(large) {
      font-size: rem(20);
    }
  }
}

nav {
  background: $nav-bg-dark;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

}

.menu {
  padding: 0 calc(rem(16) + 2vw);
  width: 100%;
  display: flex;
  // justify-content: space-between;
  flex: 1;

  &__item {
    display: flex;
    align-items: center;
    margin-right: rem(40);
    display: none;

    @include breakpoint(medium) {
      display: flex;
    }
  }

  &__item a {
    color: $white;
    font-weight: 400;
    font-size: rem(14);
  }
}

.dropdown {
  &__icon {
    background-color: $white;
    color: $nav-bg-dark;
    border-radius: 50%;
    padding: rem(2);
    font-size: rem(40);
    transition: .3s ease-in;
    position: relative;
    cursor: pointer;
  }

  &__icon:hover {
    outline: 10px solid rgb(82, 82, 82);
    transition: .3s ease-out;
  }

  &__menu {
    background-color: $white;
    color: $nav-bg-dark;
    position: absolute;
    top: rem(71);
    right: 0;
    cursor: pointer;
    border-radius: 0px 0px 0px 6px;
    padding: 0;
    display: none;
    font-size: rem(14);

    @include breakpoint(medium) {
      top: rem(70);
    }

    @include breakpoint(large) {
      top: rem(72);
    }

    &--active {
      display: block;
    }

    &__item {
      padding: rem(12) rem(40);
      width: 100%;
    }

    &__item:hover {
      background-color: $hover-white;
      border-radius: 0px 0px 0px 6px;
    }
  }
}