@use '../../styles/utils/' as *;
@use '../../styles/globals/' as *;

.options__button {
  font-size: rem(12);
  width: 100%;


  &:hover {
    background-color: $hover-white;
    text-decoration: none;
  }
}