@use '../../styles/utils/' as *;
@use '../../styles/globals/' as *;

.text__button {

  color: $dark;

  &--red {
    color: $danger;
  }


}

button:disabled {

  color: $body-bg-light;

  &:hover {
    text-decoration: none;
  }
}