@use '../../styles/utils/' as *;
@use '../../styles/globals/' as *;

.text__button {

  &--red {
    color: $danger;
  }


}

button:disabled {
  color: $dark;

  &:hover {
    text-decoration: none;
  }
}