@use '../../styles/utils/' as*;

.home {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__p {
    width: min(100% - rem(40), rem(500));
    margin-bottom: 2rem;
  }
}