@use '../../styles/globals/' as *;
@use '../../styles/utils/' as *;

.default__button {
  background-color: $nav-bg-dark;
  color: $white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: rem(8);
  font-weight: 900;

  &:hover {
    text-decoration: none;
    background-color: rgb(58, 58, 58);
  }
}