@use '../../styles/globals/' as *;

.default__button {
  background-color: $nav-bg-dark;
  color: $white;
  border-radius: 3px;

  &:hover {
    text-decoration: none;
    background-color: rgb(58, 58, 58);
  }
}