@use '../../styles/utils/' as *;
@use '../../styles/globals/' as *;

#cards__main {


  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(medium) {
    flex-direction: row;
    align-items: start;
    gap: 2rem;
  }
}

.dashboard {

  &__top {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-bottom: 4rem;

    &__options {
      display: flex;
    }
  }

  &__question {
    text-align: left;
    padding-left: rem(10);

    @include breakpoint(medium) {
      padding-left: rem(40);
    }
  }
}

.aside {
  &__container {
    position: relative;
    width: clamp(rem(273), rem(200) + 16vw, rem(370));
    background-color: $white;
    margin-bottom: 4rem;
    margin: auto;
    // height: 60vh;
    padding: 4rem 2rem;

    @include breakpoint(medium) {
      padding: rem(107) 2rem;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__input {
      margin-bottom: 4rem;
    }
  }

  &__button {

    &__top,
    &__bottom {
      position: absolute;
      right: 5%;
    }

    &__top {
      top: 5%;
    }

    &__bottom {
      top: 80%;
    }


  }
}