@use '../../styles/utils/' as *;
@use '../../styles/globals/' as *;

// * {
//   border: 1px solid;
// }

#cards__main {
  // display: flex;
  // flex-direction: column;
  // gap: 2rem;
  // align-items: center;

  // @include breakpoint(medium) {
  //   flex-direction: row;
  //   align-items: start;
  // }

  @include breakpoint(medium) {
    display: flex;
  }

  .container {
    width: clamp(rem(312), rem(220) + 30vw, rem(900));
    margin: 4rem auto;


    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__options {
        display: flex;
      }
    }

  }
}

.table__container {
  height: 50vh;
  overflow: auto;
  scrollbar-gutter: stable;
}

#cards__table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: rem(10);
  // min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  @include breakpoint(medium) {
    font-size: rem(12);
  }

  @include breakpoint(large) {
    font-size: rem(14);
  }

  & thead tr {
    background-color: $nav-bg-dark;
    color: #ffffff;
    text-align: left;
  }

  & th,
  & td {
    padding: 12px 15px;
  }

  & tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  & tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  & tbody tr:last-of-type {
    border-bottom: 2px solid $nav-bg-dark;
  }

  & tbody tr.active-row {
    font-weight: bold;
    color: $nav-bg-dark;
  }
}

.aside {
  &__container {
    position: relative;
    // width: clamp(rem(273), rem(200) + 16vw, rem(370));
    background-color: $white;
    // margin-bottom: 4rem;
    margin: 4rem 2rem;
    padding: 4rem 2rem;

    @include breakpoint(medium) {
      height: calc(100vh - 72px);
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__input {
      margin-bottom: 2rem;

      @include breakpoint(medium) {
        margin-bottom: 4rem;
      }
    }

    & textarea {
      margin-bottom: 4rem;
      min-height: 120px;
      padding: rem(8);
      width: 100%;

      @include breakpoint(medium) {
        width: 200px;
        padding: rem(10);
      }

      @include breakpoint(large) {
        width: 300px;
        padding: rem(12);
      }
    }
  }

  &__button {

    &__top,
    &__bottom {
      position: absolute;
      right: 5%;
      font-size: rem(10);

      @include breakpoint(medium) {
        font-size: rem(12);
      }

      @include breakpoint(large) {
        font-size: rem(14);
      }
    }

    &__top {
      top: 5%;
    }

    &__bottom {
      top: 80%;
    }
  }
}

.hover_options {
  color: $body-bg-light;
  transition: .1s;

  &:hover {
    color: $nav-bg-dark;
    transition: .1s;
  }
}

// .dashboard {

//   &__top {
//     // display: flex;
//     // justify-content: space-between;
//     // align-items: center;
//     // margin-bottom: 4rem;

//     &__options {
//       display: flex;
//     }
//   }

//   &__question {
//     text-align: left;
//     padding-left: rem(10);

//     @include breakpoint(medium) {
//       padding-left: rem(40);
//     }
//   }
// }