@use '../styles/utils/' as *;

.main__container {
  width: min(100% - rem(40), rem(1000));
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: calc(100vh - rem(74));
  text-align: center;
  padding: rem(4);

}